*,
*::before,
*::after{

margin:0;
padding:0;
box-sizing:border-box;

}

html,
body,
#root{

height:100%;
width:100%;

}

img{

display:block;
max-width:100%;

}

button{

cursor:pointer;
font:inherit;

}

input,
textarea,
select{

font:inherit;

}